<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
    <property name="username" value="root"/>
    <property name="password" value="Root@123"/>
  </properties>
  <settings>
    <setting name="logImpl" value="LOG4J2"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 一级缓存默认开启，且默认作用范围为 SESSION; 或者设置为 STATEMENT：仅针对当前执行的SQL语句生效 -->
    <setting name="localCacheScope" value="STATEMENT"/>
    <!-- 二级缓存默认是开启的，二级缓存作用范围是同一命名空间下的多个会话共享 -->
    <setting name="cacheEnabled" value="true"/>
  </settings>
  <typeAliases>
    <package name="fun.bitbit.bean"/>
    <package name="fun.bitbit.dto"/>
  </typeAliases>
  <!-- 配置插件 -->
<!--  <plugins>-->
<!--    &lt;!&ndash; 分页插件 &ndash;&gt;-->
<!--    <plugin interceptor="com.github.pagehelper.PageInterceptor"/>-->
<!--  </plugins>-->
  <environments default="dev">
    <environment id="dev">
      <!--这个配置直接使用了 JDBC 的提交和回滚设施，它依赖从数据源获得的连接来管理事务作用域。-->
      <!--如果你正在使用 Spring + MyBatis，则没有必要配置事务管理器，因为 Spring 模块会使用自带的管理器来覆盖此配置。-->
      <transactionManager type="JDBC"/> <!--org.apache.ibatis.transaction.jdbc.JdbcTransactionFactory-->
      <dataSource type="POOLED"> <!--org.apache.ibatis.datasource.pooled.PooledDataSourceFactory-->
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://centos101:3306/mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="Root@123"/>
      </dataSource>
    </environment>
    <environment id="local">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--    <mapper resource="mapper/PersonMapper.xml"/>-->
    <package name="fun.bitbit.mapper"/>
  </mappers>

</configuration>
